<% layout('./layouts/boilerplate') %>
<body>
    <div class="show-det container my-4">
        <div class="row">
            <!-- Product Image -->
            <div class="col-md-6 img-det text-center">
                <img src="<%= listing && listing.image ? listing.image.url : '/images/default-image.jpg' %>" alt="Product Image" class="img-fluid rounded">
            </div>

            <!-- Product Details -->
            <div class="col-md-6 text-det mt-4">
                <!-- Product Title -->
                <h4 class="product-title"><%= listing && listing.title ? listing.title : 'No Title Available' %></h4>

                <!-- Price Section -->
                <div class="row-price d-flex align-items-center flex-wrap">
                    <p class="card-text">&#8377;<%= listing && listing.price ? listing.price.toLocaleString("en-IN") : 'Price Not Available' %></p>
                    <% if (listing && listing.Rprice) { %>
                        <p class="card-text strikethrough ml-3 text-muted">&#8377;<%= listing.Rprice.toLocaleString("en-IN") %></p>
                        <p class="ml-2 text-danger">Sale</p>
                    <% } %>
                </div>

                <p class="tax">Inclusive of all Taxes</p>

                <!-- Color options -->
                <p>Colors</p>
                <div class="short-img d-flex">
                    <img src="<%= listing && listing.image ? listing.image.url : '/images/default-image.jpg' %>" alt="Color Image" class="img-fluid rounded-circle mr-2" style="width: 50px;">
                </div>

                <!-- Size Section -->
                <h4>Select Size (UK)</h4>
                <div class="btn-group d-flex flex-wrap" role="group">
                    <button type="button" class="btn btn-outline-secondary m-1" data-size="6">6</button>
                    <button type="button" class="btn btn-outline-secondary m-1" data-size="7">7</button>
                    <button type="button" class="btn btn-outline-secondary m-1" data-size="8">8</button>
                    <button type="button" class="btn btn-outline-secondary m-1" data-size="9">9</button>
                    <button type="button" class="btn btn-outline-secondary m-1" data-size="10">10</button>
                </div>
                <input type="hidden" id="selectedSize" name="size" value="">

                <!-- Quantity Section -->
                <p>Quantity</p>
                <div class="input-group mb-3 w-100 w-md-50">
                    <button class="btn btn-outline-secondary" type="button" onclick="decreaseValue()">-</button>
                    <input type="number" id="quantity" class="form-control text-center" value="1" min="1" max="10">
                    <button class="btn btn-outline-secondary" type="button" onclick="increaseValue()">+</button>
                </div>

                <!-- Delivery Check Section -->
                <p>Check delivery at your location &nbsp;<i class="fas fa-truck"></i></p>
                <div class="d-flex flex-wrap">
                    <input placeholder="Enter Your Pincode" type="number" name="pincode" class="form-control w-100 w-md-50">
                    <button class="btn btn-primary ml-2 mt-2 mt-md-0" type="button" onclick="checkDelivery()">CHECK</button>
                </div>

                <!-- Add to Cart and Buy Now Buttons -->
                <div class="container mt-4">
                    <form>
                        <input type="hidden" id="product-id" value="<%= listing._id %>">
                        <input type="hidden" id="model" value="Kids">

                        <div class="d-flex flex-wrap">
                            <button type="button" class="btn btn-warning mr-2 mb-2" onclick="addToCart()">Add to Cart</button>
                            <button type="button" class="btn btn-success mb-2" onclick="buyNow()">Buy Now</button>
                        </div>
                    </form>
                </div>

                <!-- Product Description -->
                <p><%= listing && listing.description ? listing.description : 'No description available' %></p>
            </div>
        </div>
    </div>

    <div id="snackbar"></div>

</body>
